*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    scroll-behavior: smooth;
}

ul,li{
    list-style-type: none;
}

.practice-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}
